#nav-bar {
  background: #5fbdbd;
  z-index: 100000;
  width: 100%;
  height: 80px;
  top: 0;
  overflow: hidden;
  position: fixed;
  font-size: 20px;
  border-bottom: 3px solid #8FD529;
}


.logo {
  height: 96px;
  margin: 10px;
  float: left;
}

#nav-bar .header {
  line-height: 80px;
}

.nav-button {
  margin:25px 5px;
  float: right;
  cursor: pointer;
}

.logo-page {
  cursor: pointer;
}
