$back-color: #3D3D3D;
$border-color: #EEDAC1;
$nav-color: #CCCBC6;

.login-box, .register-box, .profile-box {
  border: 1px;
  border-radius: 3px;
  padding: 5px 10px 50px 10px;
  text-align: center;
}

.login-box img, .register-box img, .profile-box img{
  height: 90px;
  margin: 10px 0;
}

.login-box .switch-to-register, .register-box .switch-to-login, .switch-to-update-profile{
  border: 1px;
  color: white;
  cursor: pointer;
}

input[type=email], input[type=password], input[type=text] {
  border-radius: 5px;
  border: 5px solid $border-color;
}

input[type=submit] {
  background-color: $border-color;
  border-radius: 5px;
  border: 1px solid $border-color;
}

