$back-color: #3D3D3D;
$border-color: #EEDAC1;
$nav-color: #CCCBC6;

.search-container {
  border: 1px;
  border-radius: 3px;
  padding: 5px 10px 50px 10px;
  text-align: center;
}

.search-bar{
  border: 2px solid #EEDAC1;
  border-radius: 2px;
}

.search-container input{
  width:75%;
  border-radius: 10px;
}

.auto-complete {
  width: 75%;
  border-radius: 5px;
  margin:auto;
  background-color: $nav-color;
  border-right: 2px solid $border-color;
  border-left: 2px solid $border-color;
}

.auto-complete-item {
  margin-bottom: 5px;
}

.search-card {
  width: 100%;
  height: 100px;
  display: inline-block;
  font-size: 20px
}

.search-card img{
  float:left;
  height: 100%;
  width: 100px;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.search-card span{
  line-height: 100px;
}
